{% extends 'base.html' %}
{% block title %}
    About    
{% endblock title %} 
{% block About %}
active
{% endblock About %}
{% block body %}
  <div class="container">
    <h1 class="mt-3">Welcome to Startup Training Institude Sanawad.</h1>
    <h3 class="mt-3 text-primary">Vision and mission</h3>
    <hr>
    <p>We have a passionate and talented team working hard to make our mission a reality. Meet some of our key team members:

      To enrich the knowledge & skill sets of young software engineers by providing value-added training in the areas of Software Development & Testing.
      
      To serve the industries by providing trained human resources in the above areas.
      
      To provide quality Software Training & Consulting Services in the areas of Python,Django, Django Rest Framework, UI Technology, Database Administration, Content Management with Live Projects.</p>
  </div>  
{% endblock body %}